:root {
    --default-border-radius: 15px;
    --default-padding: 1rem;
}

html {
    font-family: 'Secular One', sans-serif;
}

.container {
    display: flex;
    margin-top: 2rem;
    /*background-color: #393f71;*/
    background-image: url("img/bg.png");
    background-position: center;
    background-size: contain;
    height: 900px;
    max-width: 800px;
    padding: var(--default-padding);
}

aside {
    padding: var(--default-padding);
    border-radius: var(--default-border-radius);
}

.piece {
    aspect-ratio: 1 / 1;
}

aside .title {
    color: #2a315e;
    background-color: #fdfdfc;
    border-radius: var(--default-border-radius) var(--default-border-radius) 0 0;
    padding: 1rem;
    text-align: center;
}

/*****************************************
    SQUARES IMG
*****************************************/
[class*="azure-sq"] {
    aspect-ratio: 1 / 1;
    background-image: url("img/azure.png");
    background-size: cover;
    background-position: center;
}

[class*="green-sq"] {
    aspect-ratio: 1 / 1;
    background-image: url("img/green.png");
    background-size: cover;
    background-position: center;
}

[class*="orange-sq"] {
    aspect-ratio: 1 / 1;
    background-image: url("img/orange.png");
    background-size: cover;
    background-position: center;
}

[class*="rose-sq"] {
    aspect-ratio: 1 / 1;
    background-image: url("img/rose.png");
    background-size: cover;
    background-position: center;
}

[class*="violet-sq"] {
    aspect-ratio: 1 / 1;
    background-image: url("img/violet.png");
    background-size: cover;
    background-position: center;
}

[class*="yellow-sq"] {
    aspect-ratio: 1 / 1;
    background-image: url("img/yellow.png");
    background-size: cover;
    background-position: center;
}

/*****************************************
    LEFT SIDE
*****************************************/
.left .row {
    /*margin-top: 1rem;*/
}

.piece-container {
    padding: var(--default-padding);
    border-radius: 0 0 var(--default-border-radius) var(--default-border-radius);
    border: solid #fdfdfd;
    border-width: 0 10px 10px;
    background-color: rgba(0, 0, 0, 0.4);
}




