:root {
    --default-border-radius: 15px;
    --default-padding: 1rem;
    --hold-border-radius: 10px;
    --playground-width: 800px;
}

html {
    font-family: 'Secular One', sans-serif;
}

body {
    background-color: #1a1a1a;
}

.container {
    display: flex;
    margin-top: 2rem;
    background-image: url("img/bg1.png");
    background-position: center;
    background-size: contain;
    max-width: var(--playground-width);
    padding: var(--default-padding);
    border-radius: 20px;
}

aside,
.middle {
    padding: var(--default-padding);
    border-radius: var(--default-border-radius);
}

.piece {
    aspect-ratio: 1 / 1;
}

aside .title {
    color: #2a315e;
    background-color: #fdfdfc;
    border-radius: var(--hold-border-radius) var(--hold-border-radius) 0 0;
    padding: 1rem;
    text-align: center;
    font-size: 25px;
}

.piece-container {
    padding: var(--default-padding);
    border-radius: 0 0 var(--hold-border-radius) var(--hold-border-radius);
    background-color: rgba(255, 255, 255, 0.1);
    aspect-ratio: 1 / 1;
}

/*****************************************
    SQUARES IMG
*****************************************/
[class*="sq"] {
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-position: center;
}

[class*="azure-sq"] {
    background-image: url("img/azure.png");
}

[class*="green-sq"] {
    background-image: url("img/green.png");
}

[class*="orange-sq"] {
    background-image: url("img/orange.png");
}

[class*="rose-sq"] {
    background-image: url("img/rose.png");
}

[class*="violet-sq"] {
    background-image: url("img/violet.png");
}

[class*="yellow-sq"] {
    background-image: url("img/yellow.png");
}

/*****************************************
    LEFT SIDE
*****************************************/

.left [class*="col-4"] {
    aspect-ratio: 1 / 1;
}

/*****************************************
    MIDDLE SIDE MAIN
*****************************************/
.middle .playground {
    border: 5px solid rgba(251, 251, 250, 0.5);
    border-radius: var(--default-border-radius);
    background-color: rgba(253, 253, 252, 0.1);
}

.playground [class*="col"] {
    aspect-ratio: 1 / 1;
}

/*****************************************
    RIGHT SIDE
*****************************************/
.right [class*="col-4"] {
    aspect-ratio: 1 / 1;
}

.right .row:nth-child(n+2) .piece-container {
    border-radius: 0;
}

.right .row:last-child .piece-container {
    border-radius: 0 0 var(--default-border-radius) var(--default-border-radius);
}
